@charset "utf-8";
#PrimerTitulo {
    background-color: aqua;
}

#BarraNavegacion1 {
    background-color: aquamarine;
}

#PiePrincipal {
    background-color: coral;
    clear: both;
    margin-top: 10px;
}

#BarraLateral {
    background-color: darkgreen;
    float: left;
    height: 720px;
}

body {
    background-color: blueviolet;
}

#Section1 {
    background-color: yellow;
    margin-left: 200px;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 20px;
}

li {
    display: inline;
    background-color: tomato;
}